{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "debug": false,
            "targets": {
              "esmodules": false,
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}